body {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow:1px 1px 5px #b4b4b4;
}

h1 {
    text-align: center;
}

li {
    padding-block: 10px;
}

.question {
    padding-block: 4px;
}

input[type=text] {
    background-color: #f4f4f4;
    border-radius: 7px;
    width: 80%;
    height: 30px;
    border: solid 2px;
    border-color: rgb(230, 230, 230);
}

button {
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-color: #6da6d5;
    background-color: #6d9fd5;
}

.hidden {
    display: none;
}

.message {
    text-align: center;
    padding: 10px;
    height: 20px;
    border-radius: 5px;
}

.notperfect {
    background-color: #ffe88e;
    border: solid 2px #e2cb6c;
}

.wrong {
    background-color: #ff8e8e;
    border: solid 2px #e26c6c;
}

.perfect {
    background-color: #8eff92;
    border: solid 2px #74e26c;
}